body {
            background: #0f172a;
            color: #e2e8f0;
        }

        .hero {
            height: 90vh;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
        }

        .hero h1 {
            font-size: 3rem;
            font-weight: bold;
        }

        .highlight {
            color: #38bdf8;
        }

        .card {
            background: #38bdf8;
            border: none;
            transition: 0.3s;
        }

        .card:hover {
            transform: translateY(-5px);
        }

        hr {
            border: 2px solid #38bdf8;
            width: 80px;
            margin: 20px auto;
        }

        .badge-tech {
            margin: 5px;
            padding: 8px 12px;
            background: #334155;
            border-radius: 8px;
        }
